/* CSS Reset taken from 
https://www.joshwcomeau.com/css/custom-css-reset/ */
/* CSS Reset Start */
/* ============================================== */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Remove list styling */
li {
  list-style-type: none;
}

/* 11. Remove anchor text styling */
a {
  text-decoration: none;
}

/* CSS Reset End */
/* ============================================== */

/* CSS Variables Start*/
/* ============================================== */
:root {
  --page-font-size: calc(10px + 0.2vw);
  --sidebar-background-color: rgb(43, 143, 210);
  --sidebar-header-item-font-size: 18px;
  --sidebar-item-font-size: 13px;
  --main-content-background-color: rgb(188, 188, 188);
  --card-background-color: white;
}
/* ============================================== */
/* CSS Variables End */

/* Body Start */
/* ============================================== */
body {
  height: 100vh;

  /* 
  
    Allows the body to handle overflow and scrolling,
    rather than individual elements having scroll bars. 
  */
  overflow: auto;
  /* temp */
  font-size: var(--page-font-size);

  /* 
    minmax(160px, 1fr) will prevent the sidebar from
    shrinking past 160px. 
  */
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 6fr;
  grid-template-rows: 1fr 4fr;

  /* 
    Taken from CSS Tricks' system font stack: 
    https://css-tricks.com/snippets/css/system-font-stack/.

    It's meant to try using the default font of the user's
    system, to create a "neutral" look.
  */
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* ============================================== */
/* Body End */

/* Header Start */
/* ============================================== */
#header {
  /* temp */
  background-color: rgb(235, 129, 107);
  /* temp */
  padding: 10px 35px;
  /* temp */
  /* overflow: auto; */

  grid-row: 1;
  grid-column: 2;

  display: grid;
  /* grid-template-columns: auto 100px 100px max-content; */
  grid-template-columns: auto minmax(0px, 400px) minmax(0px, 100px) max-content;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: 1fr minmax(0px, 20px) 1fr;
  align-items: center;
}

#header-search-section {
  grid-row: 1;
  grid-column: 1 / 3;
}

#header-search-section > form {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
}

#header-search-bar {
  border-style: none;
  border-radius: 20px;
}

#header-user-display {
  grid-row: 1;
  grid-column: 4;

  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

#header-user-greeting {
  grid-row: 3;
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 15px;
}

#header-action-buttons {
  grid-row: 3;
  grid-column: 3 / 5;

  /* 
    The buttons in this div wouldn't grow vertically,
    previously? 
    
    Setting the height or width to 100% here makes the 
    div ITSELF take up the full track size between grid 
    column line 3 to 5, in the respective dimension 
    (height or width).
  */
  /* height: 50%; */
  height: 70%;
  /* width: 100%; */

  /* Turning this div into a grid causes the button
  children to grow in size, taking up the entire space
  available in the div. */
  display: grid;
  grid-template-columns: repeat(3, auto);

  gap: 20px;
}

#header-action-buttons > button {
  border-style: none;
  border-radius: 20px;
}
/* ============================================== */
/* Header End */

/* Main-Content Start */
/* ============================================== */
#main-content {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-columns: 3fr 1fr;
  /* TODO: Check if this is necessary. */
  /* grid-template-rows: 1fr; */

  /* temp */
  /* overflow: auto */
  padding: 10px;
  background-color: var(--main-content-background-color);
}

/* ============================================== */
/* Main-Content End */

/* Your-Projects-Section Start */
/* ============================================== */
#your-projects-section {
  /* 
    This creates a grid that will house:
    Row 1 = "#your-projects-section-header"
    Row 2 = ".your-projects-card-row"
    Row 3 = ".your-projects-card-row"
    Row 4 = ".your-projects-card-row"

    I used "max-content" so that the grid rows
    won't stretch.
  */
  display: grid;
  grid-template-columns: 1fr;
  /* testing something */
  /* grid-template-rows: max-content max-content max-content max-content; */
  grid-template-rows: max-content repeat(3, auto);
  gap: 10px;
}

.your-projects-card-row {
  /* 
    This creates a grid that will house two 
    ".your-projects-card" cards.

    It only houses two div elements, but we're using
    five rows instead of one. This is so they can be 
    used as a row subgrid by individual 
    ".your-projects-card" cards.

    Also, since we use "max-content", each row track
    will be sized based on the element with the most
    content, between the two side by side
    ".your-projects-card" cards.

    Furthermore, I believe that "minmax(0px, 10px)"
    will help to prevent overflow. The size of the 
    h5 and the ".your-projects-card-icons" div
    are always the same. But, the "p" can be
    different. If the size of the "p" is too big,
    the "minmax(0px, 10px)" row will scale 
    accordingly to prevent overflow.
  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* testing something */
  /* grid-template-rows: max-content max-content minmax(0px, 10px) max-content; */
  grid-template-rows: auto auto minmax(0px, 10px) auto;
}

.your-projects-card:last-child {
  /* 
    Applies a 10px left margin to every 
    ".your-projects-card" that is the last child 
    of its parent. 
    
    This translates to: applies a 10px left margin
    to the second card in every "your-projects-card-row".
    I thought this was easier than creating an empty 
    10px column in each "your-projects-card-row".
  */
  margin-left: 10px;
}

.your-projects-card {
  /* 
    Makes each ".your-projects-card" span all five rows
    of the parent ".your-projects-card-row" grid.

    As a result, the children of ".your-projects-card"
    will naturally align themselves, side by side, with
    the children of its sibling ".your-projects-card"
   */
  grid-row: 1 / span 4;

  display: grid;
  grid-template-rows: subgrid;

  padding: 20px;
  background-color: var(--card-background-color);
}

.your-projects-card > h5 {
  grid-row: 1;
}

.your-projects-card > p {
  grid-row: 2;
}

.your-projects-card-icons {
  grid-row: 4;
  justify-self: end;

  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content;
  gap: 10px;
}
/* Your-Projects-Section End */
/* ============================================== */

/* Announcements-And-Trending-Aside Start */
/* ============================================== */
#announcements-and-trending-aside {
  display: grid;
  /* testing something */
  /* grid-template-rows: max-content max-content max-content max-content; */
  /* 
    I use "max-content" for the first row because
    I don't want the section text header to scale 
  */
  grid-template-rows: max-content auto 15px max-content auto;
  gap: 10px;

  margin-left: 10px;
}

.announcements-and-trending-card {
  background-color: var(--card-background-color);
}

#announcements-heading {
  grid-row: 1;
}

#announcements-section {
  grid-row: 2;

  padding: 20px;
}

#announcements-section > hr {
  margin: 10px 0px;
}

#trending-heading {
  grid-row: 4;
}

#trending-section {
  grid-row: 5;

  display: grid;
  /* testing something */
  /* grid-template-rows: repeat(4, max-content); */
  grid-template-rows: repeat(4, auto);
  gap: 10px;

  padding: 20px;
}

.trending-project {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 10px;
}
/* ============================================== */
/* Announcements-And-Trending-Aside End */

/* Sidebar Start */
/* ============================================== */
#sidebar {
  grid-row: 1 / 3;
  grid-column: 1;

  /* 
    This grid code will allow us to create five row 
    tracks. The intention of the layout:
    Row 1 = Header (dashboard sidebar item).

    Row 2 = It's empty, so to act as a gap.
    
    Row 3 = General Links div (Home, Profile, Messages, 
    History, Tasks).

    Row 4 = It's empty, so to act as a gap.

    Row 5 = Settings Links div (Settings, Support, 
    Privacy).
  */

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: max-content 30px max-content 40px max-content;

  /* 
    Allow scrollable overflow in the y-direction, but hide the
    scrollbar in the x-direction. This is because the body's grid
    container has a minimum column size of 160px for the sidebar. 
  */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  padding: 10px;
  background-color: var(--sidebar-background-color);

  /* Style the text in the sidebar. */
  font-size: var(--sidebar-item-font-size);
  font-weight: bold;
}

#sidebar-header,
#sidebar-general-links,
#sidebar-settings-links {
  /* 
    Set each of the three divs to span two columns
    in the parent #sidebar grid container
  */
  grid-column: span 2;

  /* 
    We turn these three divs into grid containers so
    that their children (".sidebar-item"s) can use
    subgrid.
  */
  display: grid;
  grid-template-columns: subgrid;
  gap: 10px;

  /* This will remove the default padding in <ol>*/
  padding: 0;
}

#sidebar-header {
  grid-row: 1;

  font-size: var(--sidebar-header-item-font-size);
}

#sidebar-header-icon {
  width: 40px;
}

#sidebar-general-links {
  grid-row: 3;
}

#sidebar-settings-links {
  grid-row: 5;
}

.sidebar-item-wrapper {
  grid-column: span 2;

  display: grid;
  grid-template-columns: subgrid;
}

.sidebar-item {
  /* 
    Set each .sidebar-item div to span both columns
    of the #sidebar grid container. 
    
    This is because the direct parent of the 
    .sidebar-item grid container uses subgrid. 
  */
  grid-column: span 2;

  /* 
    Setting the .sidebar-item div to a subgrid will 
    make the current grid "inherit" two column grid 
    tracks from the #sidebar grid container.

    Because "grid-auto-flow: row" is the default, the
    image and the heading of the .sidebar-item will 
    sit side by side.
  */
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  gap: 5px;

  /* 
    Have the sidebar item's icon and text be placed side
    by side. 
  */
  /* display: flex;
  gap: 12px;
  align-items: center; */

  color: white;
}

/*.sidebar-item > * {
  margin: 10px; 
}*/

/* .sidebar-item-icon-and-text {
  color: white;
  text-decoration: none;
} */

.icon {
  justify-self: center;
  width: 25px;
  fill: white;
}
/* Sidebar End */
/* ============================================== */
