/* CSS Reset taken from 
https://www.joshwcomeau.com/css/custom-css-reset/ */
/* CSS Reset Start */
/* ============================================== */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Remove list styling */
li {
  list-style-type: none;
}

/* 11. Remove anchor text styling */
a {
  text-decoration: none;
}

/* CSS Reset End */
/* ============================================== */

/* CSS Variables Start*/
/* ============================================== */
:root {
  --page-font-size: calc(10px + 0.2vw);
  --page-box-shadow-color: rgb(197, 197, 197);
  --header-icon-width: 25px;
  --header-search-bar-background-color: rgb(219, 225, 232);
  --header-user-display-font-size: 9px;
  --header-user-greeting-text-font-size: 12px;
  --header-user-greeting-name-font-size: 18px;
  --header-action-button-font-size: 12px;
  --main-content-background-color: rgb(219, 225, 232);
  --main-content-header-font-size: 16px;
  --card-background-color: white;
  --your-projects-card-header-font-size: 14px;
  --your-projects-card-text-font-size: 13px;
  --your-projects-card-text-color: rgb(77, 70, 70);
  --announcement-header-font-size: 13px;
  --announcement-text-font-size: 12px;
  --announcement-text-color: rgb(77, 70, 70);
  --announcement-hr-color: rgb(201, 201, 201);
  --trending-project-id-font-size: 13px;
  --trending-project-name-font-size: 12px;
  --trending-project-name-color: rgb(77, 70, 70);
  --sidebar-background-color: rgb(43, 143, 210);
  --sidebar-header-item-font-size: 18px;
  --sidebar-header-icon-width: 40px;
  --sidebar-item-font-size: 14px;
  --sidebar-item-icon-width: 25px;
}
/* ============================================== */
/* CSS Variables End */

/* Body Start */
/* ============================================== */
body {
  height: 100vh;

  /* 
  
    Allows the body to handle overflow and scrolling,
    rather than individual elements having scroll bars. 
  */
  overflow: auto;
  /* temp */
  font-size: var(--page-font-size);

  /* 
    minmax(160px, 1fr) will prevent the sidebar from
    shrinking past 160px. 
  */
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 6fr;
  grid-template-rows: 1fr 4fr;

  /* 
    Taken from CSS Tricks' system font stack: 
    https://css-tricks.com/snippets/css/system-font-stack/.

    It's meant to try using the default font of the user's
    system, to create a "neutral" look.
  */
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* ============================================== */
/* Body End */

/* Header Start */
/* ============================================== */
#header {
  /* temp */
  background-color: white;
  /* temp */
  /* padding: 10px 35px; */
  padding: 10px 35px 20px 35px;
  /* temp */
  /* overflow: auto; */

  grid-row: 1;
  grid-column: 2;

  display: grid;
  /* grid-template-columns: auto 100px 100px max-content; */
  grid-template-columns:
    auto minmax(0px, 400px) minmax(0px, 50px) minmax(0px, 100px)
    max-content;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: 1fr minmax(0px, 20px) 1fr;
  align-items: center;

  /* 
    The "z-index" being 1 will have the "#header" appear 
    above the other components of the page. Thus making
    the box-shadow appear along the bottom of the "#header".
  */
  z-index: 1;
  box-shadow: 0px 3px 2px var(--page-box-shadow-color);
}

#header-search-section {
  grid-row: 1;
  grid-column: 1 / 3;
}

#header-search-section > form {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
}

#header-search-button {
  background-color: white;
  border-style: none;
}

#header-search-bar {
  background-color: rgb(219, 225, 232);
  border-style: none;
  border-radius: 20px;
}

#header-user-display {
  grid-row: 1;
  grid-column: 5;

  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  justify-content: end;
  gap: 18px;

  font-size: var(--header-user-display-font-size);
}

#header-user-greeting {
  grid-row: 3;
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 10px;
}

#header-user-greeting-text {
  font-size: var(--header-user-greeting-text-font-size);
  font-weight: bold;
}

#header-user-greeting-name {
  font-size: var(--header-user-greeting-name-font-size);
  font-weight: bold;
}

#header-action-buttons {
  grid-row: 3;
  grid-column: 4 / 6;

  /* 
    The buttons in this div wouldn't grow vertically,
    previously? 
    
    Setting the height or width to 100% here makes the 
    div ITSELF take up the full track size between grid 
    column line 3 to 5, in the respective dimension 
    (height or width).
  */
  /* height: 50%; */
  height: 65%;
  /* width: 100%; */

  /* Turning this div into a grid causes the button
  children to grow in size, taking up the entire space
  available in the div. */
  display: grid;
  grid-template-columns: repeat(3, auto);

  gap: 20px;
}

#header-action-buttons > button {
  border-style: none;
  border-radius: 20px;
  background-color: var(--sidebar-background-color);

  font-size: var(--header-action-button-font-size);
  font-weight: bold;
  color: white;
}

.header-icon {
  width: var(--header-icon-width);

  fill: black;
}

#header-icon-big {
  width: 50px;
}
/* ============================================== */
/* Header End */

/* Main-Content Start */
/* ============================================== */
#main-content {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-columns: 3fr 1fr;
  /* TODO: Check if this is necessary. */
  /* grid-template-rows: 1fr; */

  /* temp */
  /* overflow: auto */
  padding: 40px 30px;
  background-color: var(--main-content-background-color);
}

.main-content-header {
  margin-bottom: 5px;

  font-size: var(--main-content-header-font-size);
  font-weight: bold;
}

/* ============================================== */
/* Main-Content End */

/* Your-Projects-Section Start */
/* ============================================== */
#your-projects-section {
  display: grid;
  grid-template-rows: max-content auto;
}

#your-projects-section-grid-container-wrapper {
  /* 
    This creates a grid that will house:
    Row 1 = "#your-projects-section-header"
    Row 2 = ".your-projects-card-row"
    Row 3 = ".your-projects-card-row"
    Row 4 = ".your-projects-card-row"

    I used "max-content" so that the grid rows
    won't stretch.
  */
  display: grid;
  grid-template-columns: 1fr;
  /* testing something */
  /* grid-template-rows: max-content max-content max-content max-content; */
  grid-template-rows: repeat(3, auto);
  gap: 22px;
}

.your-projects-card-row {
  /* 
    This creates a grid that will house two 
    ".your-projects-card" cards.

    It only houses two div elements, but we're using
    five rows instead of one. This is so they can be 
    used as a row subgrid by individual 
    ".your-projects-card" cards.

    Also, since we use "max-content", each row track
    will be sized based on the element with the most
    content, between the two side by side
    ".your-projects-card" cards.

    Furthermore, I believe that "minmax(0px, 10px)"
    will help to prevent overflow. The size of the 
    h5 and the ".your-projects-card-icons" div
    are always the same. But, the "p" can be
    different. If the size of the "p" is too big,
    the "minmax(0px, 10px)" row will scale 
    accordingly to prevent overflow.
  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* testing something */
  /* grid-template-rows: max-content max-content minmax(0px, 10px) max-content; */
  grid-template-rows: auto auto minmax(0px, 10px) auto;
  /* gap: 0px; */
}

.your-projects-card:last-child {
  /* 
    Applies a 22px left margin to every 
    ".your-projects-card" that is the last child 
    of its parent. 
    
    This translates to: applies a 10px left margin
    to the second card in every "your-projects-card-row".
    I thought this was easier than creating an empty 
    10px column in each "your-projects-card-row".

    This is necessary as, creating a 22px gap in the
    ".your-projects-card-row" grid container will create
    a 22px column gap (just like we want) AND a 22px
    row gap (between the card's content elements, what
    we don't want).
  */
  margin-left: 22px;
}

.your-projects-card {
  /* 
    Makes each ".your-projects-card" span all five rows
    of the parent ".your-projects-card-row" grid.

    As a result, the children of ".your-projects-card"
    will naturally align themselves, side by side, with
    the children of its sibling ".your-projects-card"
   */
  grid-row: 1 / span 4;

  display: grid;
  grid-template-rows: subgrid;

  padding: 15px 28px;
  border-radius: 10px;
  background-color: var(--card-background-color);

  /* 
      This will create a background image of a linear 
      gradient, transitioning from a shade of yellow to 
      white. 

      "to right", and "rgb(x, y, z) 2.5%", means that the 
      color will be that exact rgb color until the 2.5% 
      (width?) mark, startingfrom the left side of the element.

      "white 2.5%" means that, starting from the 2.5% (width?)
      mark, it will be white until the end (the gradient 
      reaches the end of the width).

      Since both colors end/start at 2.5%, there is no
      transition between the colors. It's just "rgb(x, y, z)"
      side by side.
    */
  background-image: linear-gradient(
    to right,
    rgb(235, 165, 35) 2.5%,
    white 2.5%
  );
  /* background-repeat: no-repeat; */

  box-shadow: 0px 3px 2px var(--page-box-shadow-color);
}

/* .your-projects-card > h3 {
  grid-row: 1;
} */

.your-projects-card-header {
  grid-row: 1;
  font-size: var(--your-projects-card-header-font-size);
}

/* .your-projects-card > p {
  grid-row: 2;
} */

.your-projects-card-text {
  grid-row: 2;

  font-size: var(--your-projects-card-text-font-size);
  color: var(--your-projects-card-text-color);
}

.your-projects-card-icons {
  grid-row: 4;
  justify-self: end;

  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content;
  align-items: center;
  gap: 10px;
}

.your-projects-card-icon {
  width: 22px;

  fill: black;
}
/* Your-Projects-Section End */
/* ============================================== */

/* Announcements-And-Trending-Aside Start */
/* ============================================== */
#announcements-and-trending-aside {
  display: grid;
  /* testing something */
  /* grid-template-rows: max-content max-content max-content max-content; */
  /* 
    I use "max-content" for the first row because
    I don't want the section text header to scale 
  */
  grid-template-rows: max-content auto 15px max-content auto;
  /* gap: 10px; */

  margin-left: 18px;
}

.announcements-and-trending-card {
  border-radius: 10px;
  background-color: var(--card-background-color);
}

#announcements-section-heading {
  grid-row: 1;
}

#announcements-section {
  grid-row: 2;

  padding: 15px 28px;
}

.announcement-header {
  font-size: var(--announcement-header-font-size);
}

.announcement-text {
  font-size: var(--announcement-text-font-size);
  color: var(--announcement-text-color);
}

#announcements-section > hr {
  margin: 10px 0px;

  /* 
    Setting a border with a color allows us to change the
    color of an "<hr>" element's line 
  */
  border: 1px solid var(--announcement-hr-color);
  color: var(--announcement-text-color);
}

#trending-section-heading {
  grid-row: 4;
}

#trending-section {
  grid-row: 5;

  display: grid;
  /* testing something */
  /* grid-template-rows: repeat(4, max-content); */
  grid-template-rows: repeat(4, auto);
  gap: 18px;

  padding: 18px 22px;
}

.trending-project {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 10px;
}

.trending-project-icon {
  width: 35px;
}

.trending-project-id {
  font-size: var(--trending-project-id-font-size);
  font-weight: 450;
  color: black;
}

.trending-project-name {
  font-size: var(--trending-project-name-font-size);
  font-weight: normal;
  color: var(--trending-project-name-color);
}
/* ============================================== */
/* Announcements-And-Trending-Aside End */

/* Sidebar Start */
/* ============================================== */
#sidebar {
  grid-row: 1 / 3;
  grid-column: 1;

  /* 
    This grid code will allow us to create five row 
    tracks. The intention of the layout:
    Row 1 = Header (dashboard sidebar item).

    Row 2 = It's empty, so to act as a gap.
    
    Row 3 = General Links div (Home, Profile, Messages, 
    History, Tasks).

    Row 4 = It's empty, so to act as a gap.

    Row 5 = Settings Links div (Settings, Support, 
    Privacy).
  */

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: max-content 30px max-content 40px max-content;

  /* 
    Allow scrollable overflow in the y-direction, but hide the
    scrollbar in the x-direction. This is because the body's grid
    container has a minimum column size of 160px for the sidebar. 
  */
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  padding: 10px;
  background-color: var(--sidebar-background-color);

  /* Style the text in the sidebar. */
  font-size: var(--sidebar-item-font-size);
  font-weight: bold;

  /* 
    Prevent the box-shadow from the "#header" appearing above 
    the sidebar
  */
  z-index: 2;
}

#sidebar-header,
#sidebar-general-links,
#sidebar-settings-links {
  /* 
    Set each of the three divs to span two columns
    in the parent #sidebar grid container
  */
  grid-column: span 2;

  /* 
    We turn these three divs into grid containers so
    that their children (".sidebar-item"s) can use
    subgrid.
  */
  display: grid;
  grid-template-columns: subgrid;
  gap: 10px;

  /* This will remove the default padding in <ol>*/
  padding: 0;
}

#sidebar-header {
  grid-row: 1;

  font-size: var(--sidebar-header-item-font-size);
}

#sidebar-header-icon {
  width: var(--sidebar-header-icon-width);
}

#sidebar-general-links {
  grid-row: 3;
}

#sidebar-settings-links {
  grid-row: 5;
}

.sidebar-item-wrapper {
  grid-column: span 2;

  display: grid;
  grid-template-columns: subgrid;
}

.sidebar-item {
  /* 
    Set each .sidebar-item div to span both columns
    of the #sidebar grid container. 
    
    This is because the direct parent of the 
    .sidebar-item grid container uses subgrid. 
  */
  grid-column: span 2;

  /* 
    Setting the .sidebar-item div to a subgrid will 
    make the current grid "inherit" two column grid 
    tracks from the #sidebar grid container.

    Because "grid-auto-flow: row" is the default, the
    image and the heading of the .sidebar-item will 
    sit side by side.
  */
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  gap: 5px;

  /* 
    Have the sidebar item's icon and text be placed side
    by side. 
  */
  /* display: flex;
  gap: 12px;
  align-items: center; */

  color: white;
}

/*.sidebar-item > * {
  margin: 10px; 
}*/

/* .sidebar-item-icon-and-text {
  color: white;
  text-decoration: none;
} */

.sidebar-icon {
  justify-self: center;
  width: var(--sidebar-item-icon-width);
  fill: white;
}
/* Sidebar End */
/* ============================================== */
